@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.titleText {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color:#FFFFFF;
}

.techList {
    font-family: 'Inter', sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.techItem {
    font-family: 'Inter', sans-serif;
    height: 5.375rem;
    width: 15rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 1.8125rem;
    display: flex;
    align-items: center;
    gap: 1.6875rem;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
}

@media (max-width:880px) {
    .techItem {
        width: 100%;
    }

}
